.navItem
  display: flex
  align-items: center
  font-size: 16px
  width: 320px
  padding: 8px 32px 8px 32px
  border-radius: 0 20px 20px 0

.navItemIcon
  height: 18px
  width: 18px
  margin-right: 19px