*
  font-family: Arial, sans-serif

html,
body,
#__next
  padding: 0
  margin: 0
  // font-size: 62.5%
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

#__next
  position: absolute
  inset: 0
  display: grid
  place-items: center
  // font-size: 1.6rem

ul
  margin: 0
  padding: 0
  list-style: none

a
  color: inherit
  text-decoration: none

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal